<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    </head>
    <body>
    <!-- =======================================================================
         Aquesta és la barra de navegació que es mostrarà a totes les pàgines on
         es faci un 'th:include="fragments/barraNavegacio :: header"'.
         ======================================================================= -->
        <div th:fragment="header">
            <header class="p-3 mb-5 border-bottom text-bg-dark">
                <div class="container">
                    <div class="d-flex flex-wrap col-12 col-lg-auto align-items-center justify-content-center justify-content-lg-start">
                        <a href="#" class="fs-4 d-flex align-items-center text-white text-decoration-none me-4">
                            <img class="d-inline-block align-middle me-2" src="/logo.png" alt="MedicPet" width="40"  height="40" />
                            Medic Pet
                        </a>

                        <ul class="nav col-12 col-lg-auto me-lg-auto my-lg-auto my-4 justify-content-center mb-lg-0 text-uppercase ps-0 ps-lg-4">
                            <li class="col-12 col-lg-auto text-center mx-1"><a href="/medicpet/factures" class="nav-link px-2 text-white">Facturació</a></li>
                            <li class="col-12 col-lg-auto text-center mx-1"><a href="/medicpet/clients" class="nav-link px-2 text-white">Clients</a></li>
                            <li class="col-12 col-lg-auto text-center mx-1"><a href="/medicpet/tractaments" class="nav-link px-2 text-white">Tractaments</a></li>
                            <li class="col-12 col-lg-auto text-center mx-1"><a href="/medicpet/rrhh" class="nav-link px-2 text-white">RRHH</a></li>
                        </ul>

                        <div class="col-12 col-lg-auto dropdown text-lg-end d-flex justify-content-center">
                            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="mx-1 text-white align-middle" th:text="${user}"></span>
                                <img th:src="@{/avatar1-freepik.jpg}" width="40px" class="avatar img-fluid rounded-circle ms-1" alt="Foto de perfil">
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form id="logout-form" th:action="@{/logout}" method="post" th:style="'display: none;'">
                                        <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    </form>
                                    <a class="dropdown-item text-danger" href="#" th:onclick="'event.preventDefault(); document.getElementById(\'logout-form\').submit();'">
                                        Sortir
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </body>
</html>