<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>[[#{clients.fitxaTitol}]]</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

        <script language="javascript">

            function formEditable() {
                var form = document.getElementById("clientForm");
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].disabled = false;
                }
                document.getElementById('nomComplert').style = "background-color: white;";
                document.getElementById('dni').style = "background-color: white;";
                document.getElementById('email').style = "background-color: white;";
                document.getElementById('telefon').style = "background-color: white;";
                document.getElementById('adreça').style = "background-color: white;";
            }

            function mostrar() {
                div = document.getElementById('btns_edicio');
                div.style.display = '';
                div = document.getElementById('btn_editar');
                div.style.display = 'none';

                formEditable();
            }

            function validar() {
                var valid = true;
                var nomComplert = document.getElementById('nomComplert').value;
                var nomComplertError = document.getElementById('error-nom');

                var dni = document.getElementById('dni').value;
                var dniError = document.getElementById('error-dni');

                var telefon = document.getElementById('telefon').value;
                var telefonErrorLlarg = document.getElementById('error-telefonLlarg');
                var telefonErrorCar = document.getElementById('error-telefonCar');

                var email = document.getElementById('email').value;
                var emailError = document.getElementById('error-email');

                var address = document.getElementById('address').value;
                var addressError = document.getElementById('error-address');

                if (nomComplert.length > 45) {
                    valid = false;
                    nomComplertError.style.display = 'block';
                    document.getElementById('nomComplert').classList.add('border-danger');
                } else {
                    nomComplertError.style.display = 'none';
                    document.getElementById('nomComplert').classList.remove('border-danger');
                }

                if (dni.length > 9) {
                    valid = false;
                    dniError.style.display = 'block';
                    document.getElementById('dni').classList.add('border-danger');
                } else {
                    dniError.style.display = 'none';
                    document.getElementById('dni').classList.remove('border-danger');
                }

                if (email.length > 45) {
                    valid = false;
                    emailError.style.display = 'block';
                    document.getElementById('email').classList.add('border-danger');
                } else {
                    emailError.style.display = 'none';
                    document.getElementById('email').classList.remove('border-danger');
                }

                if (address.length > 100) {
                    valid = false;
                    addressError.style.display = 'block';
                    document.getElementById('address').classList.add('border-danger');
                } else {
                    addressError.style.display = 'none';
                    document.getElementById('address').classList.remove('border-danger');
                }

                if (!/^[+\d]+$/.test(telefon)) {
                    valid = false;
                    telefonErrorCar.style.display = 'block';
                    document.getElementById('telefon').classList.add('border-danger');
                } else if (telefon.length > 15) {
                    valid = false;
                    telefonErrorLlarg.style.display = 'block';
                    telefonErrorCar.style.display = 'none';
                    document.getElementById('telefon').classList.add('border-danger');
                } else {
                    telefonErrorLlarg.style.display = 'none';
                    telefonErrorCar.style.display = 'none';
                    document.getElementById('telefon').classList.remove('border-danger');
                }


                return valid;
            }

        </script>

    </head>

    <body>

        <!-- Menú de navegació -->
        <div th:insert="~{fragments/barraNavegacio :: header(user=${userName}, nomComplert=${nomUsuariComplert}, page=${pagina}, rol=${rolUsuari})}"></div>

        <!-- Continguts -->
        <div class="container">

            <!-- TO-DO: Mostar Alerta -->
            <div th:if="${nomRegistreEliminat}" id="alertaEliminar" class="alert alert-info alert-dismissible fade show text-center" role="alert">
                <i class="bi bi-info-circle me-2"></i> [[#{mascotes.msgRegistreEliminat_1}]] <b th:text="${nomRegistreEliminat}">[[#{generic.modalTitolRegistre}]]</b> [[#{generic.msgRegistreEliminada_2}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <!-- Breadcrumb -->
            <div class="d-flex">
                <h2>
                    <a th:href="@{/medicpet/clients}" class="link-secondary">[[#{clients.llistatTitol}]]</a>
                    <span> / </span>                        
                    <span th:if="${client.idclient != null}" class="text-dark ml-2">[[#{clients.fitxaClientTitol}]] "<span th:text="${client.getNomComplert}"></span>"</span>
                    <span th:if="${client.idclient == null}" class="text-dark ml-2">[[#{clients.fitxaNovaTitol}]]</span>
                    <!-- TO-DO: detectar rol veterinari 
                    <span th:if="${user.rol.id == 3}" class="text-muted ml-2">[[#{clients.fitxaTitol}]]</span>-->                    
                </h2>
            </div>

            <!-- Botons per CLIENT NOU -->
            <div class="mt-4" th:if="${client.idclient == null and rolUsuari != 'VETERINARI'}">
                <script th:inline="javascript">

                    var filtre = [[${client.idclient == null}
                    ]]; // Si el client és nou...
                    window.onload = function () {
                        if (!filtre)
                            return; // Exit/Return si la variable és 'false'
                        formEditable(); // ...torno inputs del formulari editables
                    };

                </script>              
                <div id="btns_edicio">
                    <button form="clientForm" type="submit" name="Desar" class="btn btn-outline-success p-2 me-3">[[#{generic.botoDesar}]]</button>
                    <a th:href="@{/medicpet/clients}" class="btn btn-outline-danger p-2" >[[#{generic.botoDescartar}]]</a>
                </div>
            </div>
            <!-- Botons EDITAR CLIENT -->            
            <div class="mt-4" th:if="${client.idclient != null and rolUsuari != 'VETERINARI'}">
                <div id="btn_editar">
                    <a href="javascript:mostrar();" name="Editar" class="btn btn-outline-primary p-2 me-3">[[#{generic.botoEditar}]]</a>
                </div>
                <div id="btns_edicio" style="display:none;">
                    <button form="clientForm" type="submit" name="Desar canvis" class="btn btn-outline-success p-2 me-3">[[#{generic.botoDesarCanvis}]]</button>
                    <button onClick="window.location.reload();" class="btn btn-outline-danger p-2" >[[#{generic.botoDescartar}]]</button>
                </div>
            </div>

            <!-- Formulari: Detalls client -->
            <div class="p-5 mt-4 bg-light rounded-3">
                <form id="clientForm" method="POST" th:action="@{/medicpet/clients/desar}" th:object="${client}" class="form-horizontal" onsubmit="return validar();">

                    <input type="hidden" name="idclient" th:field="*{idclient}" th:if="${client.idclient != null}">

                    <div class="form-group row align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{clients.campNom}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="nomComplert" name="name" type="text" class="form-control" style="background: none;" th:field="*{nomComplert}" required disabled />
                            <span id="error-nom" class="text-danger" style="display:none;">El nom ha de tenir com a màxim 45 caràcters</span>
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{clients.campDni}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="dni" name="dni" type="text" class="form-control" style="background: none;" th:field="*{dni}" required disabled />
                            <span id="error-dni" class="text-danger" style="display:none;">El DNI ha de tenir com a màxim 9 caràcters</span>
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{clients.campTelefon}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="telefon" name="phone" type="text" class="form-control" style="background: none;" th:field="*{telefon}" required disabled />
                            <span id="error-telefonLlarg" class="text-danger" style="display:none;">El telèfon ha de tenir com a màxim 15 caràcters</span>
                            <span id="error-telefonCar" class="text-danger" style="display:none;">El telèfon només pot contenir números i símbols.</span>
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{clients.campEmail}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="email" name="email" type="email" class="form-control" style="background: none;" th:field="*{email}" required disabled />
                            <span id="error-email" class="text-danger" style="display:none;">L'email ha de tenir com a màxim 45 caràcters</span>
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{clients.campAdreca}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="address" name="address" type="text" class="form-control" style="background: none;" th:field="*{adreca}" required disabled />
                            <span id="error-address" class="text-danger" style="display:none;">La adreça ha de tenir com a màxim 100 caràcters</span>
                        </div>
                    </div>
                </form>

            </div>

            <!-- Llistat de mascotes en cas que n'hi hagi de creades -->
            <div th:if="${client.mascotes != null and !client.mascotes.empty}">

                <!-- Mascotes -->
                <h2 class="mt-5">[[#{mascotes.llistatTitol}]]</h2>

                <!-- Botons -->
                <a th:if="${rolUsuari != 'VETERINARI'}" th:href="@{/medicpet/clients/fitxa/{idclient}/mascotes/fitxa(idclient=${client.idclient})}" class="btn btn-outline-success mt-4">[[#{mascotes.botoCrear}]]</a>

                <!-- Taula -->
                <div class="table-responsive">
                    <table class="table align-middle table-striped table-responsive-xl mt-4">
                        <thead class="table-dark">
                            <tr class="text-center align-middle">
                                <th scope="col">[[#{generic.colId}]]</th>
                                <th scope="col">[[#{mascotes.campNom}]]</th>
                                <th scope="col">[[#{mascotes.campAniversari}]]</th>
                                <th scope="col">[[#{mascotes.campSexe}]]</th>
                                <th scope="col">[[#{mascotes.campEspecie}]]</th>
                                <th scope="col">[[#{mascotes.campRaca}]]</th>
                                <th scope="col" colspan="3" class="col-1">[[#{generic.colAccions}]]</th>
                            </tr>  
                        </thead>
                        <tbody>                 
                            <tr th:each="mascota: ${client.mascotes}" class="text-center">
                                <td th:text="${mascota.getId_mascota}"></td>
                                <td><a th:attr="title=#{generic.botoMostrar}" th:href="@{/medicpet/clients/fitxa/{idclient}/mascotes/fitxa/{idmascota}/editar(idclient=${client.getIdclient}, idmascota=${mascota.getId_mascota})}" th:text="${mascota.getNom}" class="text-decoration-none" /></td>
                                <td th:text="${mascota.getData_naixement}"></td>
                                <td th:text="${mascota.getSexe}"></td>
                                <td th:text="${mascota.getEspecie}"></td>                            
                                <td th:text="${mascota.getRaca}"></td>                            

                                <!-- accions -->
                                <td>
                                    <a th:attr="title=#{generic.botoMostrar}" class="btn btn-outline-primary" th:href="@{/medicpet/clients/fitxa/{idclient}/mascotes/fitxa/{idmascota}/editar(idclient=${client.getIdclient}, idmascota=${mascota.getId_mascota})}" ><i class="bi bi-eye-fill"></i></a>
                                </td>
                                <td th:if="${rolUsuari != 'VETERINARI'}">
                                    <!-- Button trigger modal -->
                                    <form th:id="'eliminarRegistre' + ${mascota.getId_mascota}" method="post" th:action="@{/medicpet/clients/fitxa/{idclient}/mascotes/eliminar/{idmascota}(idclient=${client.getIdclient}, idmascota=${mascota.getId_mascota})}">                                        
                                        <button th:id="${mascota.getId_mascota}" th:attr="title=#{generic.botoEliminar}" type="button" class="btn btn-outline-danger btn-eliminar" data-bs-toggle="modal" data-bs-target="#confirmarEliminar" data-th-id="${mascota.getId_mascota}" data-th-nom="${mascota.getNom}">
                                            <i class="bi bi-trash3-fill"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>

                <!-- Modal -->
                <div class="modal fade" id="confirmarEliminar" tabindex="-1" aria-labelledby="confirmarEliminarLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">                               

                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmarEliminarLabel">[[#{mascotes.modalTitol}]]: <span class="text-danger">[[#{generic.modalTitolRegistre}]]</span></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <p>[[#{mascotes.modalMsg}]]</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="btn_eliminarCancelar" data-bs-dismiss="modal">[[#{generic.botoCancelar}]]</button>
                                <button type="button" class="btn btn-outline-danger" id="btn_eliminarConfirmar" data-id="">[[#{generic.botoEliminar}]]</button>                                                                   
                            </div>
                        </div>
                    </div>
                </div> 

            </div>
            <!-- Si no hi ha mascotes creades, es mostrarà aquest missatge -->
            <div th:if="${client.idclient != null and (client.mascotes == null or client.mascotes.empty)}" class="justify-content-center mt-3">
                <div class="p-5 mb-4 rounded-3 text-center alert alert-danger" role="alert">
                    <h4 class="mx-auto">[[#{clients.msgAfegirMascota_1}]] <br> [[#{clients.msgAfegirMascota_2}]]</h4>
                    <a th:href="@{/medicpet/clients/fitxa/{idclient}/mascotes/fitxa(idclient=${client.idclient})}" class="btn btn-outline-danger mt-3" >[[#{mascotes.botoCrear}]]</a>
                </div>
            </div>

        </div>

        <!-- Peu de pàgina -->
        <div th:insert="~{fragments/peuPagina :: footer}"/>

        <!-- Script per confirmar l'eliminació d'un registre -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script th:inline="javascript">

                    // TO-DO: pendent d'implementar que quan s'esborri un registre mostri alerta de confirmació
                    /* function mostrarAlerta() {
                     document.getElementById("alertaEliminar").style.display = "block";
                     }*/

                    // Script mostrar Modal confirmació (Eliminar registre)
                    document.addEventListener("DOMContentLoaded", function () {

                        // Inicialització del modal
                        const modalEl = document.getElementById('confirmarEliminar');
                        const modal = new bootstrap.Modal(modalEl, {
                            keyboard: false
                        });

                        // Desar tots els botons que serveixen per eliminar un registre
                        const botonsEliminar = document.querySelectorAll('.btn-eliminar');

                        // Botons del modal
                        const btnEliminarConfirmar = document.getElementById('btn_eliminarConfirmar');
                        const btnEliminarCancelar = document.getElementById('btn_eliminarCancelar');

                        // Funció per eliminar un registre
                        function eliminarRegistre(idRegistre) {

                            // Obtindre la ruta per l'acció 'Eliminar'
                            const formEliminar = document.getElementById(`eliminarRegistre${idRegistre}`);
                            const accioEliminar = formEliminar.getAttribute('action');
                            const index = accioEliminar.indexOf('eliminar/');
                            const url = accioEliminar.substring(0, index + 'eliminar/'.length);
                            console.log(">> url registre (Eliminat): ", url + idRegistre);

                            // Comprovar que l'ID sigui un Nombre
                            if (!isNaN(idRegistre)) {

                                idRegistre = Number(idRegistre);
                                formEliminar.action = `${url}${idRegistre}`;
                                formEliminar.submit();
                                console.log(">> Registre nº (" + idRegistre + ") eliminat");

                            } else {
                                console.error(`El valor de 'data-th-id' no és un nombre vàlid: ${idRegistre}`);
                            }
                        }

                        // Funció per confirmar l'eliminació
                        function confirmarEliminar(idRegistre) {

                            // Mostrar modal
                            modal.show();
                            console.log(">> Registre seleccionat (" + idRegistre + ")");

                            btnEliminarConfirmar.addEventListener('click', function () {
                                console.log(`Eliminant registre ${idRegistre} ...`);
                                eliminarRegistre(idRegistre);
                                modal.hide();
                            });

                            btnEliminarCancelar.addEventListener('click', function () {
                                console.log(">> Acció cancel·lada");
                                idRegistre = null;  // resetejo id per evitar acomular-los                        
                                modal.hide();
                            });

                        }

                        // Iterar sobre cada botó
                        botonsEliminar.forEach(function (boto) {

                            // En fer clic, es mostra el modal
                            boto.addEventListener('click', function (event) {
                                let nom = "";

                                // Detectar quin botó s'ha clicat (Event) per establir l'ID
                                let idRegistre = boto.getAttribute('id');
                                console.log('>> ID registre: ' + idRegistre);

                                // Recuperar el valor de l'atribut 'data-th-nom' del botó
                                nom = boto.getAttribute('nom');
                                console.log('>> Nom registre: ' + nom);
                                // Actualitzar el contingut del títol del modal amb el valor de l'atribut
                                document.querySelector('#confirmarEliminarLabel span').textContent = nom;

                                confirmarEliminar(idRegistre);

                            });


                        });

                    });
        </script>

    </body>
</html>
