<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inici dinàmic</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inici dinàmic de l'aplicació en template</h1>
        <!-- El component text de thymeleaf envia el token que li assignem com
        a contingut de l'element html, en el nostre cas el paràgraf.
        Si volem enviar una cadena amb espais en blanc l'hem de posar entre
        cometes simples.
        -->
        <p th:text="Paràgraf"></p>
    </body>
</html>