<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>[[#{mascotes.fitxaTitol}]]</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

        <script language="javascript">

            function formEditable() {

                var form = document.getElementById("mascotaForm");
                console.log(">> Habilitar formulari: ", form);
                var elements = form.elements;
                for (var i = 0, len = elements.length; i < len; ++i) {
                    elements[i].disabled = false;
                }
                document.getElementById('nom').style = "background-color: white;";
                document.getElementById('dataNaixement').style = "background-color: white;";
                document.getElementById('sexeMascota').style = "background-color: white;";
                document.getElementById('especie').style = "background-color: white;";
                document.getElementById('raça').style = "background-color: white;";
            }

            function mostrar() {

                div = document.getElementById('btns_edicio');
                div.style.display = '';
                div = document.getElementById('btn_editar');
                div.style.display = 'none';

                formEditable();
            }

        </script>

    </head>

    <body>

        <!-- Menú de navegació -->
        <div th:insert="~{fragments/barraNavegacio :: header(user=${userName}, nomComplert=${nomUsuariComplert}, page=${pagina})}"></div>

        <!-- Continguts -->
        <div class="container">

            <!-- TO-DO: Mostar Alerta -->
            <div id="alertaEliminar" class="alert alert-info alert-dismissible fade text-center" style="display:none;" role="alert" data-nom-client-eliminat>
                <strong>Info:</strong> La visita s'ha eliminat.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <!-- Breadcrumb -->
            <div class="d-flex">
                <h2>
                    <a th:href="@{/medicpet/clients}" class="link-secondary">[[#{clients.llistatTitol}]]</a>
                    <span> / </span>                        
                    <a th:href="@{/medicpet/clients/fitxa/{client_id}(client_id=${mascota.client_id.getIdclient})}" class="link-secondary ml-2">[[#{clients.fitxaClientTitol}]] "<span th:text="${mascota.client_id.getNomComplert}"></span>"</a>
                    <span> / </span>
                    <span th:if="${mascota.id_mascota != null}" class="text-dark ml-2">[[#{mascotes.fitxaTitol}]] "<span th:text="${mascota.getNom}"></span>"</span>                 
                    <span th:if="${mascota.id_mascota == null}" class="text-dark ml-2">[[#{mascotes.fitxaNovaTitol}]]</span>                 
                </h2>
            </div>


            <!-- Botons per MASCOTA NOVA -->
            <div class="mt-4" th:if="${mascota.id_mascota == null and rolUsuari != 'VETERINARI'}">
                <script th:inline="javascript">
                    console.log(">> Mascota nova...");
                    var filtre = [[${mascota.id_mascota == null}
                    ]]; // Si la mascota és nova...
                    window.onload = function () {
                        if (!filtre)
                            return; // Exit/Return si la variable és 'false'
                        formEditable(); // ...torno inputs del formulari editables
                    };

                </script>                
                <div id="btns_edicio">
                    <button form="mascotaForm" type="submit" name="Desar" class="btn btn-outline-success p-2 me-3">[[#{generic.botoDesar}]]</button>
                    <a th:href="@{/medicpet/clients/fitxa/{client_id}(client_id=${mascota.client_id.getIdclient})}"><button type="button" class="btn btn-outline-danger p-2" >[[#{generic.botoDescartar}]]</button></a>
                </div>
            </div>
            <!-- Botons EDITAR MASCOTA -->            
            <div class="mt-4" th:if="${mascota.id_mascota != null and rolUsuari != 'VETERINARI'}">
                <div id="btn_editar">
                    <a href="javascript:mostrar();" name="Editar" class="btn btn-outline-primary p-2 me-3">[[#{generic.botoEditar}]]</a>
                </div>
                <div id="btns_edicio" style="display:none;">
                    <button form="mascotaForm" type="submit" name="Desar canvis" class="btn btn-outline-success p-2 me-3">[[#{generic.botoDesarCanvis}]]</button>
                    <a th:href="@{/medicpet/clients/fitxa/{client_id}(client_id=${mascota.client_id.getIdclient})}" class="btn btn-outline-danger p-2" >[[#{generic.botoDescartar}]]</a>
                </div>
            </div>

            <!-- Formulari: Detalls mascota -->
            <div class="p-5 mt-4 bg-light rounded-3">
                <form id="mascotaForm" method="POST" th:action="@{/medicpet/clients/fitxa/{client_id}/mascotes/desar(client_id=${mascota.client_id.getIdclient})}" th:object="${mascota}" class="form-horizontal">

                    <input type="hidden" name="id_mascota" th:field="*{id_mascota}">

                    <div class="form-group row align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{mascotes.campNom}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="nom" name="nom" type="text" class="form-control" style="background: none;" th:field="*{nom}" required disabled />
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{mascotes.campAniversari}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="dataNaixement" name="data_naixement" type="date" class="form-control" style="background: none;" th:field="*{data_naixement}" required disabled />
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{mascotes.campSexe}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <!--<input type="text" class="form-control" name="sexe" th:field="*{sexe}" th:if="${mascota.id_mascota != null}"/>-->
                            <select id="sexeMascota" name="sexe" class="form-select" style="background: none;" th:field="*{sexe}" required disabled >
                                <option value="">[[#{generic.campSeleccionar}]]</option>
                                <option value="Mascle">[[#{mascotes.campSexeMascle}]]</option>
                                <option value="Femella">[[#{mascotes.campSexeFemella}]]</option>
                                <option value="Desconegut">[[#{mascotes.campSexeDesconegut}]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{mascotes.campEspecie}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="especie" name="especie" type="text" class="form-control" style="background: none;" th:field="*{especie}" required disabled />
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{mascotes.campRaca}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="raça" name="raça" type="text" class="form-control" style="background: none;" th:field="*{raca}" required disabled />
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="container">
            <!-- Llistat de visites en cas que n'hi hagi creades -->
            <div th:if="${visites != null and !visites.empty}">

                <!-- Breadcrumb -->
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb fs-4  mt-5">
                        <li class="breadcrumb-item"><h2>Llistat de visites</h2></li>
                    </ol>
                </nav>

                <!-- Taula -->
                <div class="table-responsive">
                    <table class="table align-middle table-striped table-responsive-xl mt-3">
                        <thead class="table-dark">
                            <tr class="text-center align-middle">
                                <th scope="col" class="col-1">Id</th>
                                <th scope="col" class="col-6">Diagnòstic</th>
                                <th scope="col" class="col-3">Data de visita</th>
                                <th scope="col-2"colspan="2">Accions</th>          
                            </tr>  
                        </thead>
                        <tbody>                 
                            <tr th:each="visita: ${visites}" class="text-center">
                                <td th:text="${visita.getId}"></td>
                                <td th:text="${visita.getDiagnostic}"></td>
                                <td th:text="${visita.getData_visita}"></td>
                                <td><form method="get" th:action="@{/medicpet/tractaments/fitxa/} + ${visita.getId}" class="m-0">
                                        <input type="submit" class="btn btn-outline-primary" value="Mostrar">
                                    </form>
                                </td>
                                <td>
                                    <form th:id="'eliminarRegistre' + ${visita.getId}" method="post" th:action="@{/medicpet/tractaments/eliminar/{id}(id=${visita.id})}" class="m-0">
                                        <input type="submit" class="btn btn-outline-danger" value="Eliminar">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>

            <!-- Si no hi ha visites creades, es mostrarà aquest missatge -->
            <div th:if="${mascota.id_mascota != null and (visites == null or visites.empty)}" class="justify-content-center mt-5">
                <div class="p-5 mb-4 rounded-3 text-center alert alert-danger" role="alert">
                    <h4 class="mx-auto">[[#{visites.msgAfegirVisita_1}]] <br> [[#{visites.msgAfegirVisita_2}]]</h4>
                    <a href="#/" class="btn btn-outline-danger mt-3">[[#{visites.botoAfegir}]]</a>
                </div>
            </div>
            
        </div>

        <!-- Peu de pàgina -->
        <div th:insert="~{fragments/peuPagina :: footer}"/>

    </body>
</html>
