<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>[[#{registre.fitxaTitol}]]</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="/registre.js"></script>
    </head>

    <!-- BODY -->
    <body class="bg-secondary-subtle">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-4 my-4">  
                    <!-- login form -->
                    <div class="text-center">

                        <form id="registerForm" th:action="@{/nou-usuari}" th:object="${usuari}" method="POST" class="register-form" enctype="multipart/form-data" onsubmit="return validar();">

                            <div class="row justify-content-center mt-5">            
                                <div>
                                    <img src="/logo.png" alt="MedicPet" width="170" height="auto">
                                </div>
                            </div>

                            <h3 class="my-4">[[#{registre.formulariRegistre}]]</h3>

                            <div class="container mt-4">
                                <div class="row justify-content-center">

                                    <input id="name" type="text" name="Name" th:field="*{nom}" class="form-control mb-2" placeholder="Nom i cognoms" autofocus="">
                                    <span id="error-nom" class="text-danger" style="display:none;">[[#{registre.errorNom}]]</span>
                                    <span id="errorBuit-nom" class="text-danger" style="display:none;">[[#{registre.errorNomBuit}]]</span>
                                    <input id="username" type="text" name="userName" th:field="*{username}" class="form-control mb-2" placeholder="Nom d'usuari">
                                    <span id="error-username" class="text-danger" style="display:none;">[[#{registre.errorUsername}]]</span>
                                    <span id="errorBuit-username" class="text-danger" style="display:none;">[[#{registre.errorUsernameBuit}]]</span>
                                    <input id="password" type="password" name="userPassword" th:field="*{contrasenya}" class="form-control mb-2" placeholder="Contrassenya"> 
                                    <span id="error-password" class="text-danger" style="display:none;">[[#{registre.errorContrasenya}]]</span>
                                    <select class="form-select" id="rol_usuari" name="rol_id" th:field="*{rol_id}" required>
                                        <option value="">[[#{registre.seleccionarRol}]]</option>
                                        <option value="2">[[#{registre.administratiu}]]</option>
                                        <option value="3">[[#{registre.veterinari}]]</option>
                                    </select>

                                    <button type="submit" name="nou-usuari" value="Register" class="btn btn-lg btn-dark btn-block col-5 my-4">[[#{registre.enviar}]]</button>

                                </div>
                            </div>
                            <div th:insert="~{fragments/peuPagina :: footer}"/>
                        </form>
                    </div>
                    <!-- end login form -->
                </div>
            </div>

        </div>

        <!-- Javascript per mostrar DROPDOWNS, POPOVERS o TOOLTIPS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>  

    </body>
</html>
