<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Llistat de treballadors</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>

    <body class="bg-secondary-subtle">

        <!-- Menú de navegació -->
        <div th:insert="~{fragments/barraNavegacio :: header(user=${userName}, page=${pagina})}"></div>

        <!-- Contingut de la pàgina -->
        <div class="container">

            <!-- Llistat de tractaments en cas que n'hi hagi creats -->
            <div th:if="${treballadors != null and !treballadors.empty}">
                <!-- Breadcrumb -->
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb fs-4  mt-4">
                        <li class="breadcrumb-item"><h2>[[#{rrhh.llistatTitol}]]</h2></li>
                    </ol>
                </nav>

                <!-- Botons i cercador -->
                <div class="d-flex justify-content-between mt-4">
                    <a th:href="@{/medicpet/rrhh/fitxa}" class="btn btn-outline-success">Crear treballador</a>
                    <div class="float-right search btn-group">
                        <input class="form-control search-input" type="search" aria-label="Search" placeholder="Cercar..." autocomplete="off">
                    </div>
                </div>

                <!-- Taula -->
                <div class="table-responsive">
                    <table class="table align-middle table-striped table-responsive-xl mt-3">
                        <thead class="table-dark">
                            <tr class="text-center align-middle">
                                <th scope="col" class="col-1º">Id</th>
                                <th scope="col" class="col-3">Nom i cognoms</th>
                                <th scope="col" class="col-2">Telèfon</th>
                                <th scope="col" class="col-3">Email</th>
                                <th scope="col" class="col-3">Adreça</th>
                                <th scope="col-3" colspan="3">Accions</th>          
                            </tr>  
                        </thead>
                        <tbody>                 
                            <tr th:each="treballador: ${treballadors}" class="text-center">
                                <td th:text="${treballador.getId}"></td>
                                <td th:text="${treballador.getNomComplet}"></td>
                                <td th:text="${treballador.getTelefon}"></td>
                                <td th:text="${treballador.getEmail}"></td>
                                <td th:text="${treballador.getAdreca}"></td>
                                <td><form method="get" th:action="@{/medicpet/rrhh/fitxa/} + ${treballador.getId}" class="m-0">
                                        <input type="submit" class="btn btn-outline-primary" value="Mostrar">
                                    </form>
                                </td>
                                <td><form method="post" th:action="@{/medicpet/rrhh/eliminar/{id}(id=${treballador.id})}" class="m-0">
                                        <input type="submit" class="btn btn-outline-danger" value="Eliminar">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>

            <!-- Si no hi ha tractaments creats, es mostrarà aquest missatge -->
            <div th:if="${treballadors == null or treballadors.empty}" class="justify-content-center mt-5">
                <div class="text-center">
                    <h2 class="mx-auto">[[#{rrhh.taulaBuida1}]]</h2>
                    <h2 class="mx-auto">[[#{rrhh.taulaBuida2}]]</h2>
                    <a th:href="@{/medicpet/rrhh/fitxa}" class="btn btn-outline-success mt-3">Crear</a>
                </div>
            </div>

        </div>

        <!-- Peu de pàgina -->
        <div th:insert="~{fragments/peuPagina :: footer}"/>

    </body>
</html>
