<style>

    ul {
        padding-left: 30px !important;
    }

    .btn-hover-red:hover {
        background-color: red !important;
        color: white !important;
        border-color: red !important;
    }

    th {
        background-color: #666 !important;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    h1.titulo {
        font-size: 25px;
        margin-top: 30px;
        margin-left: 5%;
    }

    .table-responsive {
        width: 90%;
        margin: 0 auto;
        margin-top: 40px !important;

    }

    table {
        text-align: center !important;
        border: 3px solid #000;
    }

    .nav-link {
        text-transform: uppercase;
    }

</style>

<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Iniciar sessió</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>

    <!-- BODY -->
    <body style="background-color: bg-secondary-subtle;">
        <div class="container-fluid">

            <div class="row justify-content-center">

                <!-- MENU -->
                <header class="p-2 text-bg-dark">
                    <div class="container">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <img class="d-flex flex-wrap justify-content-between align-items-center" src="/logo.png" alt="MedicPet" width="40">

                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-bg-dark text-white">
                                <li><a href="/facturacio" class="nav-link px-2 text-white">Facturació</a></li>
                                <li><a href="/clients" class="nav-link px-2 text-white">Clients</a></li>
                                <li><a href="/tractaments" class="nav-link px-2 text-white">Tractaments</a></li>
                                <li><a href="/rrhh" class="nav-link px-2 text-white">RRHH</a></li>
                            </ul>

                            <div class="text-end">
                                <a href="/entrar"><button type="button" class="btn btn-outline-light me-2">Perfil</button></a>
                                <a href="/registre"><button type="button" class="btn btn-outline-light me-2 btn-hover-red">Sortir</button></a>
                            </div>
                        </div>
                    </div>
                </header>

                <div>
                    <h1 class="titulo">Llistat de tractaments</h1>
                </div>


                <!<!-- TABLA -->
                <div class="container-tabla">
                    <div class="table-responsive">
                        <table class="table mx-auto">
                            <thead>
                                <tr>
                                    <th style="background-color: black; color: white;">Id</th>
                                    <th style="background-color: black; color: white;">Nom</th>
                                    <th style="background-color: black; color: white;">Preu</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0534</td>
                                    <td>Penicilina</td>
                                    <td>77.64€</td>
                                </tr>
                                <tr>
                                    <td>0132</td>
                                    <td>Estreptomicina</td>
                                    <td>110.00€</td>
                                </tr>
                                <tr>
                                    <td>015</td>
                                    <td>Cirugia</td>
                                    <td>3000.00€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

        </div>

        <!-- Javascript per mostrar DROPDOWNS, POPOVERS o TOOLTIPS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>  

    </body>
</html>
