<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Detall de factura</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>

    <body style="background-color: bg-secondary-subtle;">

        <header class="p-3 mb-3 border-bottom text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap col-12 col-lg-auto align-items-center justify-content-center justify-content-lg-start">
                    <a href="#" class="fs-4 d-flex align-items-center text-white text-decoration-none me-4">
                        <img class="d-inline-block align-middle me-2" src="/logo.png" alt="MedicPet" width="40"  height="40" />
                        Medic Pet
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto my-lg-auto my-4 justify-content-center mb-lg-0 text-uppercase ps-0 ps-lg-4">
                        <li class="col-12 col-lg-auto text-center mx-1"><a href="/medicpet/facturacio" class="nav-link px-2 text-white">Facturació</a></li>
                        <li class="col-12 col-lg-auto text-center mx-1"><a href="/medicpet/clients" class="nav-link px-2 text-white">Clients</a></li>
                        <li class="col-12 col-lg-auto text-center mx-1"><a href="/medicpet/tractaments" class="nav-link px-2 text-warning">Tractaments</a></li>
                        <li class="col-12 col-lg-auto text-center mx-1"><a href="/medicpet/rrhh" class="nav-link px-2 text-white">RRHH</a></li>
                    </ul>

                    <div class="col-12 col-lg-auto dropdown text-lg-end d-flex justify-content-center">
                        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="text-white align-middle">Chris Wood</span>
                            <img th:src="@{/avatar1-freepik.jpg}" width="40px" class="avatar img-fluid rounded-circle ms-1" alt="Chris Wood">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/registre">Sortir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>


        <!-- Page content-->
        <div class="container">

            <!-- Breadcrumb -->
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb fs-4">
                    <li class="breadcrumb-item mt-3"><h2>Afegir tractament</h2></li>
                </ol>
            </nav>

            <!-- Detalls factura -->

            <!-- Form -->
            <form id="demoForm" method="POST" th:action="@{/medicpet/tractaments/guardar}" th:object="${tractament}">
                <div class="mb-3 col-sm-6">
                    <label class="form-label"><h5>Nom del tractament</h5></label>
                    <input type="text" class="form-control" name="name" th:field="*{nom}" required/>
                </div>

                <div class="mb-3 col-sm-3">
                    <label class="form-label"><h5>Preu del tractament</h5></label>
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input type="text" class="form-control" name="price" th:field="*{preu}" required/>
                    </div>
                </div>

                <!-- Botons -->
                <div class="mb-3">
                    <button type="submit" name="guardar" class="btn btn-outline-success mt-3 p-2">Afegir tractament</button>
                    <a th:href="@{/medicpet/tractaments}"><button type="button" class="btn btn-outline-danger mt-3 mx-3 p-2">Descartar</button></a>
                </div>

            </form>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
            <script src="/vendors/formvalidation/dist/js/FormValidation.min.js"></script>
            <script src="/vendors/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>

            <script>
                document.addEventListener('DOMContentLoaded', function (e) {
                    FormValidation.formValidation(document.getElementById('demoForm'), {
                        fields: {
                            name: {
                                validators: {
                                    notEmpty: {
                                        message: 'The name is required',
                                    },
                                    stringLength: {
                                        min: 6,
                                        max: 30,
                                        message: 'The name must be more than 6 and less than 30 characters long',
                                    },
                                    regexp: {
                                        regexp: /^[a-zA-Z0-9_]+$/,
                                        message: 'The name can only consist of alphabetical, number and underscore',
                                    },
                                },
                            },
                            price: {
                                validators: {
                                    notEmpty: {
                                        message: 'The price is required',
                                    },
                                    numeric: {
                                        message: 'The price must be a number',
                                    },
                                },
                            },
                            'size[]': {
                                validators: {
                                    notEmpty: {
                                        message: 'The size is required',
                                    },
                                },
                            },
                            availability: {
                                validators: {
                                    notEmpty: {
                                        message: 'The availability option is required',
                                    },
                                },
                            },
                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger(),
                            bootstrap5: new FormValidation.plugins.Bootstrap5({
                                rowSelector: '.mb-3',
                            }),
                            submitButton: new FormValidation.plugins.SubmitButton(),
                            icon: new FormValidation.plugins.Icon({
                                valid: 'fa fa-check',
                                invalid: 'fa fa-times',
                                validating: 'fa fa-refresh',
                            }),
                        },
                    });
                });
            </script>

        </div>
    </div>

    <!-- Javascript per mostrar DROPDOWNS, POPOVERS o TOOLTIPS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>