<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>[[#{visites.fitxaTitol}]]</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="/visita.js"></script>
    </head>

    <body>

        <!-- Menú de navegació -->
         <div th:insert="~{fragments/barraNavegacio :: header(user=${userName}, nomComplert=${nomUsuariComplert}, page=${pagina})}"></div>

        <!-- Continguts -->
        <div class="container">

            <!-- Breadcrumb -->
            <div class="d-flex">
                <h2 th:if="${visita.id != null}">[[#{visites.editarTitol}]]</h2>
                <h2 th:if="${visita.id == null}">[[#{visites.crearTitol}]]</h2>
            </div>

            <!-- Botons per nova visita -->
            <div class="mt-4" th:if="${visita.id == null}">
                <script th:inline="javascript">
                    console.log(">> Visita nova...");
                            var filtre = [[${visita.id == null
                            }
                            ]]; // Si la visita és nova...
                    window.onload = function () {
                        if (!filtre)
                            return; // Exit/Return si la variable és 'false'
                        formEditable(); // ...torno inputs del formulari editables
                    };

                </script>                
                <div id="btns_edicio">
                    <button form="visitaForm" type="submit" name="Desar" class="btn btn-outline-success p-2 me-3">[[#{generic.botoDesar}]]</button>
                    <a onclick="history.go(-1)"><button type="button" class="btn btn-outline-danger p-2" >[[#{generic.botoDescartar}]]</button></a>
                </div>
            </div>

            <!-- Botons editar visita -->            
            <div class="mt-4" th:if="${visita.id != null}">
                <div id="btn_editar">
                    <a href="javascript:history.go(-1)" name="Editar" class="btn btn-outline-danger p-2 me-3">[[#{generic.botoTornar}]]</a>
                    <a href="javascript:mostrar();" name="Editar" class="btn btn-outline-primary p-2 me-3">[[#{generic.botoEditar}]]</a>
                </div>
                <div id="btns_edicio" style="display:none;">
                    <button form="visitaForm" type="submit" name="Desar canvis" class="btn btn-outline-success p-2 me-3">[[#{generic.botoDesarCanvis}]]</button>
                    <a th:href="@{/medicpet/clients/fitxa/{client_id}(client_id=${mascota.client_id.getIdclient})}" class="btn btn-outline-danger p-2" >[[#{generic.botoDescartar}]]</a>
                </div>
            </div>
            <!-- Formulari: Detalls visita -->
            <div class="p-5 mt-4 bg-light rounded-3"> 

                <form id="visitaForm" method="POST" th:action="@{/medicpet/visites/fitxa/desar}" th:object="${visita}" class="form-horizontal" onsubmit="return validarVisita();">

                    <input type="hidden" name="id" th:field="*{id}">

                    <div class="form-group row align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{visites.campDiagnostic}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="diagnostic" name="diagnostic" type="text" class="form-control" style="background: none;" th:field="*{diagnostic}" disabled/>
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{visites.campMedicacio}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="medicacio" name="medicacio" type="text" class="form-control" style="background: none;" th:field="*{medicacio}" disabled/>
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{visites.campTractament}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <select class="form-select" style="background: none;" id="tractament" name="tractament_id" th:field="*{tractament_id}" disabled>
                                <option value="">[[#{generic.campSeleccionar}]]</option>
                                <th:block th:each="tractament : ${tractaments}">
                                    <option th:value="${tractament.getId}" th:text="${tractament.getNom}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{visites.campData}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="dataVisita" name="data_visita" type="date" class="form-control" style="background: none;" th:field="*{data_visita}" disabled/>
                            <span id="error-data" class="text-danger" style="display:none;">[[#{visites.errorValidacioData}]]</span>
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{visites.campVeterinari}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <select class="form-select" style="background: none;" id="treballador" name="treballador_id" th:field="*{treballador_id}" disabled>
                                <option value="">[[#{generic.campSeleccionar}]]</option>
                                <th:block th:each="veterinari : ${veterinaris}">
                                    <option th:value="${veterinari.getId}" th:text="${veterinari.getNomComplet}"></option>
                                </th:block>
                            </select>
                            <span id="error-veterinari" class="text-danger" style="display:none;">[[#{visites.errorValidacioVeterinari}]]</span>
                        </div>
                    </div>
                    <div class="form-group row mt-3 align-items-center">
                        <label class="col-sm-2 control-label"><h5>[[#{visites.campMascota}]]</h5></label>
                        <div class="col-sm-10 align-items-center">
                            <input id="nomMascota" name="animal" type="text" class="form-control" style="background: none;" th:field="${mascota.nom}" disabled/>
                            <input type="hidden" name="mascota.id_mascota" th:value="${mascota.getId_mascota}" />
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <!-- Peu de pàgina -->
        <div th:insert="~{fragments/peuPagina :: footer}"/>

    </body>
</html>
